## Question_6_Solution:

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
from statistics import mean
import matplotlib.pyplot as plt
import warnings
from sklearn.preprocessing import PowerTransformer
import numpy as np
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.utils import resample

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, ConfusionMatrixDisplay, \
                            precision_score, recall_score, f1_score, roc_auc_score,roc_curve,confusion_matrix

from sklearn import metrics 
from sklearn.model_selection import  train_test_split, RepeatedStratifiedKFold, cross_val_score
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer, KNNImputer
from xgboost import XGBClassifier
from sklearn.preprocessing import StandardScaler, MinMaxScaler,RobustScaler
from sklearn.compose import ColumnTransformer


warnings.filterwarnings("ignore")
%matplotlib inline

In [3]:
# Loading Obesity based on eating habits & physical cond dataset:
df = pd .read_csv('useful/Q6.csv')
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmount_log
0,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y,4.852030
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,4.852030
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,4.189655
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,4.787492
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,4.948760

In [4]:
df.shape

(981, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             981 non-null    object
 1   Married            981 non-null    object
 2   Dependents         981 non-null    object
 3   Education          981 non-null    object
 4   Self_Employed      981 non-null    object
 5   ApplicantIncome    981 non-null    int64
 6   CoapplicantIncome  981 non-null    float64
 7   LoanAmount         981 non-null    float64
 8   Loan_Amount_Term   981 non-null    float64
 9   Credit_History     981 non-null    float64
 10  Property_Area      981 non-null    object
 11  Loan_Status        981 non-null    object
 12  LoanAmount_log     981 non-null    float64
dtypes: float64(5), int64(1), object(7)
memory usage: 99.8+ KB

In [6]:
df.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
LoanAmount_log       0
dtype: int64

In [7]:
df['Loan_Status'].value_counts()

Loan_Status
N    559
Y    422
Name: count, dtype: int64

In [9]:
df['Dependents']

0       0
1       1
2       0
3       0
4       0
       ..
976    3+
977     0
978     0
979     0
980     0
Name: Dependents, Length: 981, dtype: object

In [10]:
df['Dependents'].replace('3+', 3, inplace=True)

In [12]:
df['Dependents'].unique()

array(['0', '1', '2', 3], dtype=object)

In [67]:
# Column wise unique values:
for col in df:
    print(f'{col}: {df[col].unique()}')

Gender: [0 1]
Married: [0 1]
Dependents: [ 0.  1.  2. nan]
Education: [1 0]
Self_Employed: [0 1]
ApplicantIncome: [ 5849  4583  3000  2583  6000  5417  2333  3036  4006 12841  3200  2500
  3073  1853  1299  4950  3596  3510  4887  2600  7660  5955  3365  3717
  9560  2799  4226  1442  3750  4166  3167  4692  3500 12500  2275  1828
  3667  3748  3600  1800  2400  3941  4695  3410  5649  5821  2645  4000
  1928  3086  4230  4616 11500  2708  2132  3366  8080  3357  3029  2609
  4945  5726 10750  7100  4300  3208  1875  4755  5266  1000  3333  3846
  2395  1378  3988  2366  8566  5695  2958  6250  3273  4133  3620  6782
  2484  1977  4188  1759  4288  4843 13650  4652  3816  3052 11417  7333
  3800  2071  5316  2929  3572  7451  5050 14583  2214  5568 10408  5667
  2137  2957  3692 23803  3865 10513  6080 20166  2014  2718  3459  4895
  3316 14999  4200  5042  6950  2698 11757  2330 14866  1538 10000  4860
  6277  2577  9166  2281  3254 39999  9538  2980  1863  7933  3089  4167
  9323  3707  2439  2237  8000  1820 51763  3522  5708  4344  3497  2045
  5516  6400  1916  4600 33846  3625 39147  2178  2383   674  9328  4885
 12000  6033  3858  4191  3125  8333  1907  3416 11000  4923  3992  3917
  4408  3244  3975  2479  3418  3430  7787  5703  3173  3850   150  3727
  5000  4283  2221  4009  2971  7578  3250  4735  4758  2491  3716  3189
  3155  5500  5746  3463  3812  3315  5819  2510  2965  3406  6050  9703
  6608  2882  1809  1668  3427  2661 16250  3083  6045  5250 14683  4931
  6083  2060  3481  7200  5166  4095  4708  4333  2876  3237 11146  2833
  2620  3900  2750  3993  3103  4100  4053  3927  2301  1811 20667  3158
  3704  4124  9508  3075  4400  3153  4416  6875  4666  2875  1625  2000
  3762 20233  7667  2917  2927  2507  2473  3399  2058  3541  4342  3601
  3166 15000  8666  4917  5818  4384  2935 63337  9833  5503  1830  4160
  2647  2378  4554  2499  3523  6333  2625  9083  8750  2666  2423  3813
  3875  5167  4723  4750  3013  6822  6216  5124  6325 19730 15759  5185
  3062  2764  4817  4310  3069  5391  5941  7167  4566  2346  3010  5488
  9167  9504  1993  3100  3276  3180  3033  3902  1500  2889  2755  1963
  7441  4547  2167  2213  8300 81000  3867  6256  6096  2253  2149  2995
  1600  1025  3246  5829  2720  7250 14880  4606  5935  2920  2717  8624
  6500 12876  2425 10047  1926 10416  7142  3660  7901  4707 37719  3466
  3539  3340  2769  2309  1958  3948  2483  7085  3859  4301  3708  4354
  8334  2083  7740  3015  5191  2947 16692   210  3450  2653  4691  5532
 16525  6700  2873 16667  4350  3095 10833  3547 18333  2435  2699  5333
  3691 17263  3597  3326  4625  2895  6283   645  3159  4865  4050  3814
 20833  3583 13262  3598  6065  3283  2130  5815  2031  3074  4683  3400
  2192  5677  7948  4680 17500  3775  5285  2679  6783  4281  3588 11250
 18165  2550  6133  3617  6417  4608  2138  3652  2239  3017  2768  3358
  2526  2785  6633  2492  2454  3593  5468  2667 10139  3887  4180  3675
 19484  5923  5800  8799  4467  3417  5116 16666  6125  6406  3087  3229
  1782  3182  6540  1836  1880  2787  2297  2165  2726  9357 16120  3833
  6383  2987  9963  5780   416  2894  3676  3987  3232  2900  4106  8072
  7583  5720  3076  2340  2226  3881 13633  3091  2185 12173  3786  9226
  1300  1888  3909  3765  5400     0  4363  7500  3772  2942  2478  3268
  2783  2740  3150  7350  2267  5833  3643  5629  3644  1750  3666  4260
  4163  2356  6792  2419  4116  5293  4402  3613  2779  4720  2415  7016
  4968  2101  4490  4700  3445  7666  2458  4463  4083  6356  3413  7950
  3829 72529  4136  8449  4456  4635  3571  3066  3235  5058  3188 13518
  4364  4766  4609  6260  9719  6835  4452  2262  3901  2687  2243  1596
  4513  4500  4523  4742  4082  2922  4243  1516  1762   724  3350  4667
  3321  3391  3343  4258  4727  6794 32000 10890 12941  8703  5900  3071
  2463  4855  1599  4246  5823  7895  4150  2964  5583  2268  1141  3042
  3564  3958  4483  5225  2431  4912  2918  5128 15312  4334  4358 10166
  4521 13083  7874  3785  2654  4796  2540  1900  8706  2855  3016  1937
  2613  4960  4213  2038  2362  5384  3754  2914  2747  7830  3507  3747
  2166  2896  5062  5184  2545  2553  3436  2412  5180 14911  2860  1173
  7600  2157  2231  2274  6166  2513  3844  2539  2107  3186  3943  2925
  3242  3863  4028  4010  3719  2858  3007  1850  2792  2982 18840  3579
  3835  3854  3508  1635 24797  2773  5769  3634 29167  5530  9000  1972
  4983  3271  2241  1792  6478  3808  3729  4120  6300 14987   570  2733
  6825  5314  2066  3767  7859  1700  4768  1647 16000  5041  6958  5509
  9699  3621  4709  2292  2360  2623  3972  6858  2868  8667  2283  5817
  5119  7603  3791  3132  8550  2269  4158  9200]
CoapplicantIncome: [0.00000000e+00 1.50800000e+03 2.35800000e+03 4.19600000e+03
 1.51600000e+03 2.50400000e+03 1.52600000e+03 1.09680000e+04
 7.00000000e+02 1.84000000e+03 8.10600000e+03 2.84000000e+03
 1.08600000e+03 3.50000000e+03 5.62500000e+03 1.91100000e+03
 1.91700000e+03 2.92500000e+03 2.25300000e+03 1.04000000e+03
 2.08300000e+03 3.36900000e+03 1.66700000e+03 3.00000000e+03
 2.06700000e+03 1.33000000e+03 1.45900000e+03 7.21000000e+03
 1.66800000e+03 1.21300000e+03 2.33600000e+03 3.44000000e+03
 2.27500000e+03 1.64400000e+03 1.16700000e+03 1.59100000e+03
 2.20000000e+03 2.25000000e+03 2.85900000e+03 3.79600000e+03
 3.44900000e+03 4.59500000e+03 2.25400000e+03 3.06600000e+03
 1.87500000e+03 1.77400000e+03 4.75000000e+03 3.02200000e+03
 4.00000000e+03 2.16600000e+03 1.88100000e+03 2.53100000e+03
 2.00000000e+03 2.11800000e+03 4.16700000e+03 2.90000000e+03
 5.65400000e+03 1.82000000e+03 2.30200000e+03 9.97000000e+02
 3.54100000e+03 3.26300000e+03 3.80600000e+03 3.58300000e+03
 7.54000000e+02 1.03000000e+03 1.12600000e+03 3.60000000e+03
 2.33300000e+03 4.11400000e+03 2.28300000e+03 1.39800000e+03
 2.14200000e+03 2.66700000e+03 8.98000000e+03 2.01400000e+03
 1.64000000e+03 3.85000000e+03 2.56900000e+03 1.92900000e+03
 7.75000000e+03 1.43000000e+03 2.03400000e+03 4.48600000e+03
 1.42500000e+03 1.66600000e+03 8.30000000e+02 3.75000000e+03
 1.04100000e+03 1.28000000e+03 1.44700000e+03 3.16600000e+03
 3.33300000e+03 1.76900000e+03 7.36000000e+02 1.96400000e+03
 1.61900000e+03 1.13000000e+04 1.45100000e+03 7.25000000e+03
 5.06300000e+03 2.13800000e+03 5.29600000e+03 2.58300000e+03
 2.36500000e+03 2.81600000e+03 2.50000000e+03 1.08300000e+03
 1.25000000e+03 3.02100000e+03 9.83000000e+02 1.80000000e+03
 1.77500000e+03 2.38300000e+03 1.71700000e+03 2.79100000e+03
 1.01000000e+03 1.69500000e+03 2.05400000e+03 2.59800000e+03
 1.77900000e+03 1.26000000e+03 5.00000000e+03 1.98300000e+03
 5.70100000e+03 1.30000000e+03 4.41700000e+03 4.33300000e+03
 1.84300000e+03 1.86800000e+03 3.89000000e+03 2.16700000e+03
 7.10100000e+03 2.10000000e+03 4.25000000e+03 2.20900000e+03
 3.44700000e+03 1.38700000e+03 1.81100000e+03 1.56000000e+03
 1.85700000e+03 2.22300000e+03 1.84200000e+03 3.27400000e+03
 2.42600000e+03 8.00000000e+02 9.85799988e+02 3.05300000e+03
 2.41600000e+03 3.33400000e+03 2.54100000e+03 2.93400000e+03
 1.75000000e+03 1.80300000e+03 1.86300000e+03 2.40500000e+03
 2.13400000e+03 1.89000000e+02 1.59000000e+03 2.98500000e+03
 4.98300000e+03 2.16000000e+03 2.45100000e+03 1.79300000e+03
 1.83300000e+03 4.49000000e+03 6.88000000e+02 4.60000000e+03
 1.58700000e+03 1.22900000e+03 2.33000000e+03 2.45800000e+03
 3.23000000e+03 2.16800000e+03 4.58300000e+03 6.25000000e+03
 5.05000000e+02 3.16700000e+03 3.66700000e+03 3.03300000e+03
 5.26600000e+03 7.87300000e+03 1.98700000e+03 9.23000000e+02
 4.99600000e+03 4.23200000e+03 1.60000000e+03 3.13600000e+03
 2.41700000e+03 2.11500000e+03 1.62500000e+03 1.40000000e+03
 4.84000000e+02 2.00000000e+04 2.40000000e+03 2.03300000e+03
 3.23700000e+03 2.77300000e+03 1.41700000e+03 1.71900000e+03
 4.30000000e+03 1.61200008e+01 2.34000000e+03 1.85100000e+03
 1.12500000e+03 5.06400000e+03 1.99300000e+03 8.33300000e+03
 1.21000000e+03 1.37600000e+03 1.71000000e+03 1.54200000e+03
 1.25500000e+03 1.45600000e+03 1.73300000e+03 2.46600000e+03
 4.08300000e+03 2.18800000e+03 1.66400000e+03 2.91700000e+03
 2.07900000e+03 1.50000000e+03 4.64800000e+03 1.01400000e+03
 1.87200000e+03 1.60300000e+03 3.15000000e+03 2.43600000e+03
 2.78500000e+03 1.13100000e+03 2.15700000e+03 9.13000000e+02
 1.70000000e+03 2.85700000e+03 4.41600000e+03 3.68300000e+03
 5.62400000e+03 5.30200000e+03 1.48300000e+03 6.66700000e+03
 3.01300000e+03 1.28700000e+03 2.00400000e+03 2.03500000e+03
 6.66600000e+03 3.66600000e+03 3.42800000e+03 1.63200000e+03
 1.91500000e+03 1.74200000e+03 1.42400000e+03 7.16600000e+03
 2.08700000e+03 1.30200000e+03 5.50000000e+03 2.04200000e+03
 3.90600000e+03 5.36000000e+02 2.84500000e+03 2.52400000e+03
 6.63000000e+02 1.95000000e+03 1.78300000e+03 2.01600000e+03
 2.37500000e+03 3.25000000e+03 4.26600000e+03 1.03200000e+03
 2.66900000e+03 2.30600000e+03 2.42000000e+02 2.06400000e+03
 4.61000000e+02 2.21000000e+03 2.73900000e+03 2.23200000e+03
 3.38370000e+04 1.52200000e+03 3.41600000e+03 3.30000000e+03
 1.00000000e+03 4.16670000e+04 2.79200000e+03 4.30100000e+03
 3.80000000e+03 1.41100000e+03 2.40000000e+02 2.54600000e+03
 3.42200000e+03 2.91600000e+03 3.33000000e+02 7.91600000e+03
 3.47000000e+03 1.62000000e+03 4.38000000e+03 2.40000000e+04
 8.33000000e+02 2.38200000e+03 8.20000000e+02 1.68300000e+03
 2.70800000e+03 1.54100000e+03 4.02900000e+03 1.96300000e+03
 8.18000000e+02 2.02400000e+03 2.60000000e+03 3.90000000e+03
 1.47500000e+03 1.90200000e+03 3.33800000e+03 2.50000000e+02
 1.70700000e+03 3.07700000e+03 3.53900000e+03 3.66400000e+03
 1.72100000e+03 2.92000000e+02 5.10500000e+03 2.09400000e+03
 3.43500000e+03 2.36700000e+03 4.05300000e+03 1.10300000e+03
 8.00000000e+03 2.01500000e+03 2.28600000e+03 1.64600000e+03
 4.20000000e+03 2.23300000e+03 1.76000000e+03 1.35000000e+03
 3.39600000e+03 4.75400000e+03 4.12300000e+03 2.66600000e+03
 3.51000000e+03 3.80300000e+03 6.41400000e+03 2.08800000e+03
 1.27000000e+03 1.51700000e+03 2.99900000e+03 5.28000000e+02
 7.17000000e+02 4.30900000e+03 2.36000000e+03 2.47400000e+03
 4.24600000e+03 2.29100000e+03 2.52900000e+03 4.25600000e+03
 2.37000000e+03 2.01700000e+03 2.93500000e+03 4.61400000e+03
 2.63200000e+03 2.94500000e+03 3.91700000e+03 7.50000000e+02
 1.18400000e+03 3.96700000e+03 2.91200000e+03 1.99800000e+03
 2.69000000e+03 1.44200000e+03 5.42000000e+02 2.37400000e+03
 1.15200000e+03 4.02700000e+03 3.71900000e+03 2.13000000e+03
 2.18300000e+03 3.14800000e+03 2.13900000e+03 1.76800000e+03
 3.80900000e+03 2.75500000e+03 1.45070000e+04 2.98800000e+03
 1.59400000e+03 1.78800000e+03 2.77400000e+03 5.21100000e+03
 1.39830000e+04 1.11000000e+03 8.28000000e+02 1.70400000e+03
 3.14500000e+03 4.37000000e+02 1.02500000e+03 1.58500000e+03
 4.28800000e+03 3.72500000e+03 2.61900000e+03 1.55000000e+03
 7.38000000e+02 1.12000000e+03 3.30800000e+03 3.57500000e+03
 2.44400000e+03 3.91600000e+03 4.40000000e+02 1.49700000e+03
 9.10000000e+02 2.05700000e+03 1.16660000e+04 2.73000000e+03
 4.34700000e+03 2.83300000e+03 2.56500000e+03 2.12500000e+03
 4.70000000e+03 5.27200000e+03 2.10800000e+03 8.79000000e+02
 2.73800000e+03 1.76200000e+03 6.18000000e+02 1.65800000e+03
 2.71700000e+03 1.95100000e+03 1.55800000e+03 3.35500000e+03
 4.83100000e+03 4.27500000e+03 1.96600000e+03 1.38000000e+03
 2.96000000e+02 1.50000000e+04 3.76900000e+03 1.87000000e+02
 1.93600000e+03 4.25500000e+03 1.77700000e+03 7.09000000e+02
 2.39300000e+03]
LoanAmount: [128.  66. 120. 141. 267.  95. 158. 168. 349.  70. 109. 200. 114.  17.
 125. 100.  76. 133. 115. 104. 315. 116. 112. 151. 191. 122. 110.  35.
 201.  74. 106. 320. 144. 184.  80.  47.  75. 134.  96.  88.  44. 286.
  97. 135. 180.  99. 165. 258. 126. 312. 136. 172.  81. 187. 113. 176.
 130. 111. 167. 265.  50. 210. 175. 131. 188.  25. 137. 160. 225. 216.
  94. 139. 152. 118. 185. 154.  85. 259. 194.  93. 370. 182. 650. 102.
 290.  84. 242. 129.  30. 244. 600. 255.  98. 275. 121.  63. 700.  87.
 101. 495.  67.  73. 260. 108.  58.  48. 164. 170.  83.  90. 166. 124.
  55.  59. 127. 214. 240.  72.  60. 138.  42. 280. 140. 155. 123. 279.
 192. 304. 330. 150. 207. 436.  78.  54.  89. 143. 105. 132. 480.  56.
 159. 300. 376. 117.  71. 490. 173.  46. 228. 308. 236. 570. 380. 296.
 156. 103.  45.  65.  53. 360.  62. 218. 178. 239. 405. 148. 190. 149.
 153. 162. 230.  86. 234. 246. 500. 186. 119. 107. 209. 208. 243.  40.
 250. 311. 400. 161. 196. 324. 157. 145. 181.  26. 211.   9. 205.  36.
  61. 146. 292. 142. 350. 496. 253. 147.  28.  57.  92. 189. 232. 163.
 257.  77. 390. 256. 213. 550. 199.  79. 235. 336. 412. 212.  64. 171.
  49. 460. 297. 177.  68. 183. 254. 197.]
Loan_Amount_Term: [360. 120. 240. 180.  60. 300. 480.  36.  84.  12. 350.   6.]
Credit_History: [1. 0.]
Property_Area: [2 0 1]
Loan_Status: [1 0]
LoanAmount_log: [4.85203026 4.18965474 4.78749174 4.94875989 5.58724866 4.55387689
 5.06259503 5.12396398 5.85507192 4.24849524 4.69134788 5.29831737
 4.73619845 2.83321334 4.82831374 4.60517019 4.33073334 4.89034913
 4.74493213 4.6443909  5.75257264 4.75359019 4.71849887 5.01727984
 5.25227343 4.80402104 4.70048037 3.55534806 5.30330491 4.30406509
 4.66343909 5.768321   4.9698133  5.21493576 4.38202663 3.8501476
 4.31748811 4.8978398  4.56434819 4.47733681 3.78418963 5.65599181
 4.57471098 4.90527478 5.19295685 4.59511985 5.10594547 5.55295958
 4.83628191 5.74300319 4.91265489 5.14749448 4.39444915 5.23110862
 4.72738782 5.170484   4.86753445 4.7095302  5.11799381 5.57972983
 3.91202301 5.34710753 5.16478597 4.87519732 5.23644196 3.21887582
 4.91998093 5.07517382 5.4161004  5.37527841 4.54329478 4.93447393
 5.02388052 4.77068462 5.22035583 5.0369526  4.44265126 5.55682806
 5.26785816 4.53259949 5.91350301 5.20400669 6.47697236 4.62497281
 5.66988092 4.4308168  5.48893773 4.8598124  3.40119738 5.49716823
 6.39692966 5.54126355 4.58496748 5.6167711  4.79579055 4.14313473
 6.55108034 4.46590812 4.61512052 6.20455776 4.20469262 4.29045944
 5.56068163 4.68213123 4.06044301 3.87120101 5.09986643 5.13579844
 4.41884061 4.49980967 5.11198779 4.82028157 4.00733319 4.07753744
 4.84418709 5.36597602 5.48063892 4.27666612 4.09434456 4.92725369
 3.73766962 5.6347896  4.94164242 5.04342512 4.81218436 5.63121178
 5.25749537 5.7170277  5.79909265 5.01063529 5.33271879 6.07764224
 4.35670883 3.98898405 4.48863637 4.96284463 4.65396035 4.88280192
 6.1737861  4.02535169 5.0689042  5.70378247 5.92958914 4.76217393
 4.26267988 6.19440539 5.15329159 3.8286414  5.42934563 5.73009978
 5.46383181 6.34563636 5.94017125 5.69035945 5.04985601 4.63472899
 3.80666249 4.17438727 3.97029191 5.88610403 4.12713439 5.38449506
 5.18178355 5.47646355 6.00388707 4.99721227 5.24702407 5.00394631
 5.03043792 5.08759634 5.43807931 4.4543473  5.45532112 5.50533154
 6.2146081  5.22574667 4.77912349 4.67282883 5.34233425 5.33753808
 5.49306144 3.68887945 5.52146092 5.73979291 5.99146455 5.08140436
 5.27811466 5.78074352 5.05624581 4.97673374 5.19849703 3.25809654
 5.35185813 2.19722458 5.32300998 3.58351894 4.11087386 4.98360662
 5.6767538  4.95582706 5.85793315 6.20657593 5.53338949 4.99043259
 3.33220451 4.04305127 4.52178858 5.24174702 5.44673737 5.0937502
 5.54907608 4.34380542 5.96614674 5.54517744 5.36129217 6.30991828
 5.29330482 4.36944785 5.45958551 5.81711116 6.02102335 5.35658627
 4.15888308 5.14166356 3.8918203  6.13122649 5.69373214 5.17614973
 4.21950771 5.20948615 5.53733427 5.28320373]

In [18]:
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [19]:
# Define the mapping for each categorical variable
gender_mapping = {'Male': 0, 'Female': 1}
married_mapping = {'No': 0, 'Yes': 1}
dependents_mapping = {'0': 0, '1': 1, '2': 2, '3': 3}
education_mapping = {'Not Graduate': 0, 'Graduate': 1}
self_employed_mapping = {'No': 0, 'Yes': 1}
property_area_mapping = {'Rural': 0, 'Semiurban': 1, 'Urban': 2}
loan_status_mapping = {'N': 0, 'Y': 1}

# Apply the mappings to the categorical variables
df['Gender'] = df['Gender'].map(gender_mapping)
df['Married'] = df['Married'].map(married_mapping)
df['Dependents'] = df['Dependents'].map(dependents_mapping)
df['Education'] = df['Education'].map(education_mapping)
df['Self_Employed'] = df['Self_Employed'].map(self_employed_mapping)
df['Property_Area'] = df['Property_Area'].map(property_area_mapping)
df['Loan_Status'] = df['Loan_Status'].map(loan_status_mapping)

In [20]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmount_log
0,0,0,0.0,1,0,5849,0.0,128.0,360.0,1.0,2,1,4.852030
1,0,1,1.0,1,0,4583,1508.0,128.0,360.0,1.0,0,0,4.852030
2,0,1,0.0,1,1,3000,0.0,66.0,360.0,1.0,2,1,4.189655
3,0,1,0.0,0,0,2583,2358.0,120.0,360.0,1.0,2,1,4.787492
4,0,0,0.0,1,0,6000,0.0,141.0,360.0,1.0,2,1,4.948760

In [21]:
df.dtypes

Gender                 int64
Married                int64
Dependents           float64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
LoanAmount_log       float64
dtype: object

In [26]:
# Split features and label
X = df.drop('Loan_Status', axis=1)
y = df['Loan_Status']

X.shape, y.shape

((981, 12), (981,))

In [27]:
def evaluate_clf(true, predicted):
    '''
    This function takes in true values and predicted values
    Returns: Accuracy, F1-Score, Precision, Recall, Roc-auc Score
    '''
    acc = accuracy_score(true, predicted) # Calculate Accuracy
    return acc

In [28]:
# Dictionary which contains models for experiment
models = {"Support Vector Classifier": SVC(),
    "Random Forest": RandomForestClassifier(),
    "Decision Tree": DecisionTreeClassifier(),
    "Gradient Boosting": GradientBoostingClassifier(),
    "Logistic Regression": LogisticRegression(),
     "K-Neighbors Classifier": KNeighborsClassifier(),
    "XGBClassifier": XGBClassifier(), 
    "AdaBoost Classifier": AdaBoostClassifier()
}

In [32]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler

def evaluate_models(X, y, models):
    '''
    This function takes in X and y and models dictionary as input
    It splits the data into Train Test split
    Iterates through the given model dictionary and evaluates the metrics
    Returns: Dataframe which contains a report of all models' metrics with cost
    '''

    models_list = []
    accuracy_list = []

    # separate dataset into train and test
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Applying Standard Normalization method (Z-Score Equation):
    scaler = MinMaxScaler()
    X_train = scaler.fit_transform(X_train)
    X_test = scaler.transform(X_test)

    # Handling missing values
    imputer = SimpleImputer(strategy='mean')
    X_train = imputer.fit_transform(X_train)
    X_test = imputer.transform(X_test)

    for model_name, model in models.items():
        model.fit(X_train, y_train)  # Train model

        # Make predictions
        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)

        # Training set performance
        model_train_accuracy = accuracy_score(y_train, y_train_pred)

        # Test set performance
        model_test_accuracy = accuracy_score(y_test, y_test_pred)

        print(model_name)
        models_list.append(model_name)

        print('Model performance for Training set')
        print("- Accuracy: {:.4f}".format(model_train_accuracy))

        print('----------------------------------')

        print('Model performance for Test set')
        print('- Accuracy: {:.4f}'.format(model_test_accuracy))
        accuracy_list.append(model_test_accuracy)

        print('=' * 35)
        print('\n')

    report = pd.DataFrame(list(zip(models_list, accuracy_list)), columns=['Model Name', 'Accuracy']).sort_values(by=["Accuracy"], ascending=False)

    return report

In [33]:
report = evaluate_models(X, y, models)

Support Vector Classifier
Model performance for Training set
- Accuracy: 0.6212
----------------------------------
Model performance for Test set
- Accuracy: 0.5787
===================================


Random Forest
Model performance for Training set
- Accuracy: 1.0000
----------------------------------
Model performance for Test set
- Accuracy: 0.5482
===================================


Decision Tree
Model performance for Training set
- Accuracy: 1.0000
----------------------------------
Model performance for Test set
- Accuracy: 0.5584
===================================


Gradient Boosting
Model performance for Training set
- Accuracy: 0.8278
----------------------------------
Model performance for Test set
- Accuracy: 0.5888
===================================


Logistic Regression
Model performance for Training set
- Accuracy: 0.6059
----------------------------------
Model performance for Test set
- Accuracy: 0.6142
===================================


K-Neighbors Classifier
Model performance for Training set
- Accuracy: 0.7283
----------------------------------
Model performance for Test set
- Accuracy: 0.5838
===================================


XGBClassifier
Model performance for Training set
- Accuracy: 0.9974
----------------------------------
Model performance for Test set
- Accuracy: 0.5584
===================================


AdaBoost Classifier
Model performance for Training set
- Accuracy: 0.7066
----------------------------------
Model performance for Test set
- Accuracy: 0.5787
===================================

In [34]:
report

                  Model Name  Accuracy
4        Logistic Regression  0.614213
3          Gradient Boosting  0.588832
5     K-Neighbors Classifier  0.583756
0  Support Vector Classifier  0.578680
7        AdaBoost Classifier  0.578680
2              Decision Tree  0.558376
6              XGBClassifier  0.558376
1              Random Forest  0.548223

# Using Four Different Algorithms as per the Accuracy:

In [57]:
# To predict interms of class name rather than number:
loan_status = {
    1: "Yes, Loan Application is Accepted",
    0: "No, Loan Applicaion is Rejected",
    
}

## 1. Logistic Regression

In [ ]:
model_1_obj = LogisticRegression()

# train-test-split.
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=42)

# Scaling the data.
scalar = MinMaxScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

# Handling missing values
imputer = SimpleImputer(strategy='constant')
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

# Fitting Model.
model_1 = model_1_obj.fit(X_train, y_train)
y_pred = model_1_obj.predict(X_test)

In [48]:
# Let's predict:
Input = X_test[0]
y_pred = model_1.predict([Input])
predicted_status = loan_status.get(y_pred[0])
print("Loan_Status: ",predicted_status)

Loan_Status:  Yes, Loan Application is Accepted

## 2. Gradient Boosting

In [60]:
model_2_obj = GradientBoostingClassifier()

# train-test-split.
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=42)

# Scaling the data.
scalar = MinMaxScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

# Handling missing values
imputer = SimpleImputer(strategy='constant')
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

# Fitting Model.
model_2 = model_2_obj.fit(X_train, y_train)
y_pred = model_2_obj.predict(X_test)

In [62]:
# Let's predict:
Input = X_test[0]
y_pred = model_2.predict([Input])
predicted_status = loan_status.get(y_pred[0])
print("Loan_Status: ",predicted_status)

Loan_Status:  Yes, Loan Application is Accepted

## 3. K-Neighbors Classifier

In [63]:
model_3_obj = KNeighborsClassifier()

# train-test-split.
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=42)

# Scaling the data.
scalar = MinMaxScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

# Handling missing values
imputer = SimpleImputer(strategy='constant')
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

# Fitting Model.
model_3 = model_3_obj.fit(X_train, y_train)
y_pred = model_3_obj.predict(X_test)

In [64]:
# Let's predict:
Input = X_test[0]
y_pred = model_3.predict([Input])
predicted_status = loan_status.get(y_pred[0])
print("Loan_Status: ",predicted_status)

Loan_Status:  Yes, Loan Application is Accepted

## 4. Support Vector Classifier

In [65]:
model_4_obj = KNeighborsClassifier()

# train-test-split.
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=42)

# Scaling the data.
scalar = MinMaxScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

# Handling missing values
imputer = SimpleImputer(strategy='constant')
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

# Fitting Model.
model_4 = model_4_obj.fit(X_train, y_train)
y_pred = model_4_obj.predict(X_test)

In [66]:
# Let's predict:
Input = X_test[0]
y_pred = model_4.predict([Input])
predicted_status = loan_status.get(y_pred[0])
print("Loan_Status: ",predicted_status)

Loan_Status:  Yes, Loan Application is Accepted